<?xml version="1.0"?>
<launch>

	<!-- Desired frequency -->
	<arg name="desired_freq" default="10.0" />

	<!-- Load smtp configuration -->
	<arg name="smtp_config_path" default="$(find robotnik_email)/config/rnavarro_rbwatcher_eu.yaml" />

	<!-- start smtp manager node -->
	<node pkg="robotnik_email" name="smtp_manager" type="smtp_manager_node.py" output="screen">
		<rosparam command="load" file="$(find robotnik_email)/config/rnavarro_rbwatcher_eu.yaml" />
		<param name="desired_freq" value="$(arg desired_freq)"/>
	</node>


</launch>
