<?xml version="1.0"?>
<launch>

	<!-- Desired frequency -->
	<arg name="desired_freq" default="10.0" />

	<!-- Load smtp configuration -->
	<arg name="smtp_config_path" default="$(find robotnik_email)/config/smtp_config.yaml" />
	<rosparam file="$(arg smtp_config_path)" command="load" />

	<!-- start smtp manager node -->
	<node pkg="robotnik_email" name="smtp_manager" type="smtp_manager_node.py" output="screen">
		<param name="desired_freq" value="$(arg desired_freq)"/>
	</node>


</launch>
